table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td a {
    display: block;
    text-decoration: none;
}

form label {
    display: block;
}

img.preview-image {
    max-height: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.help-text a {
    font-size: 1.2rem;
    color: red;
}
