<!DOCTYPE html>
<html lang="en">
<head>
    <title>Divvy</title>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="ethers.min.js" charset="utf-8" type="text/javascript"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="app" class="container">
        <div class="mb-2">
            <a :href="$buildUrl({}, false)" style="text-decoration: none;"><h1 class="d-inline mr-2">Divvy</h1></a><p class="d-inline help-text"><a :href="$buildUrl({page: 'help'}, false)">Help</a></p>
        </div>
        <div v-if="$readOnly">
            <p class="text-danger">MetaMask was not detected, so you are in read-only mode.</p>
        </div>
        
        <div v-if="page === Page.HOME">
            <new-post-form class="d-inline" v-if="!$readOnly" :default-sub="sub"></new-post-form>
            <form class="d-inline float-right">
                <label>Sub: 
                    <input type="text" :value="sub" ref="sub-box"></input>
                    <button @click="subGo($event)" type="submit">Go</button>
                </label>
            </form>

            <table>
                <tr>
                    <th>Date/Time</th>
                    <th>Title</th>
                    <th>Rating</th>
                    <th>Replies</th>
                </tr>
                <tr v-for="post in sortedPosts" :key="post.postId">
                    <td><a :href="$buildUrl({postId: post.postId}, false)">{{ $formatTimestamp(post.createdAt) }}</a></td>
                    <td><a :href="$buildUrl({postId: post.postId}, false)">{{ $truncateString(post.title) }}</a></td>
                    <td><a :href="$buildUrl({postId: post.postId}, false)">{{ post.upvotes - post.downvotes }}</a></td>
                    <td><a :href="$buildUrl({postId: post.postId}, false)">{{ post.replyIds.length }}</a></td>
                </tr>
            </table>

            <div class="d-block clearfix mt-2">
                <button @click="nextClick" class="float-right">Next</button>
                <button @click="previousClick" v-if="offset > 0" class="float-right">Previous</button>
            </div>

            <div class="border border-secondary mt-3 p-2">
                <p>Recently active subs:</p>
                <ul>
                    <li v-for="subName in recentlyActiveSubs"><a :href="$buildUrl({s: subName})">{{ subName }}</a></li>
                </ul>
            </div>
        </div>
        <div v-else-if="page === Page.VIEWPOST">
            <view-post-page :post-id="postId"></view-post-page>
        </div>
        <div v-else-if="page === Page.HELP" class="border border-secondary mt-3 p-3">
            <h2>Useful information:</h2>
            <p>You (probably) need MetaMask to do posts, replies, votes, etc. You should still be able to view everything even without it.</p>
            <p>In posts you can:</p>
            <ol>
                <li>Prefix a URL with <code>img:</code> to show a preview. <code>E.g. img:https://ipfs.io/ipfs/QmUwHMFY9GSiKgjqyZpgAv2LhBrh7GV8rtLuagbry9wmMU</code></li>
                <li>Previews are shown automatically for URLs ending in .jpg, .jpeg, .png, and .gif.</li>
                <li>Prefix an Ethereum transaction hash with <code>eth-tx-img:</code> to embed the image stored inside the transaction input. <code style="white-space: pre;">E.g. eth-tx-img:0x1013929251687ff7f6a7e2e0c7e3caae6fd93a2342dd5ad9793ff33c5802269f</code></li>
            </ol>
            <p>If you save a local copy of this page then you should still be able to view everything, however MetaMask cannot interact with the file:// protocol.</p>
            <p>The front-end is split across <code>index.html</code>, <code>css/styles.css</code>, and the JavaScript files in the <code>js/</code> directory, so you can edit them directly.</p>
        </div>
    </div>
    
    <script src="js/config.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/components.js"></script>
    <script src="js/app.js"></script>
</body>
</html>